<div class="container">
  <h1>Chairs Dashboard</h1>
  <% @post_codes.each do |post_code| %>
    <div id="<%= @post_codes.find_index(post_code) %>">
      <h3><%= post_code %></h3>
      <table class="table table-hover">
        <%= render 'rows', shop_analyzer: ShopAnalyzer.new(post_code) %>
      </table>
    </div>
  <% end %>
</div>
